:host {
    /deep/ .mat-tab-label {
        width: 50%;
    }
    .credentials {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        /deep/ .credentials-row {
            display: flex;
            justify-content: center;
            .mat-input-container {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
        .button-row {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                width: 100%;
            }
        }
    }
    /deep/ .social-buttons {
        button {
            width: 100%;
            margin-bottom: 1rem;
            color: white;
            md-icon {
                path {
                    fill: white;
                }
                svg {
                    vertical-align: initial;
                }
            }
        }
        .facebook-btn {
            background: #428bca;
            border-color: #357ebd;
            .facebook-logo {}
        }
        .google-btn {
            background: #d2322d;
            border-color: #ac2925;
            .google-logo {}
        }
    }
    .separator {
        text-align: center;
    }
}