<main class="login-page">
  <md-tab-group>

    <md-tab label="Login">
      <section class="login-credentials">

        <div class="credentials-row">
          <md-input-container>
            <input mdInput placeholder="Username">
          </md-input-container>
        </div>

        <div class="credentials-row">
          <md-input-container>
            <input mdInput placeholder="Password" type="password">
          </md-input-container>
        </div>

        <div class="button-row">
          <button (click)="login()" md-raised-button color="primary">Log In</button>
        </div>

      </section>
    </md-tab>

    <md-tab label="Sign Up">
    </md-tab>

  </md-tab-group>
</main>