header {
    display: block;
    position: relative;
    margin-bottom: 1rem;
    .header-title {
        flex-grow: 1;
        font-size: 1em;
    }
    .back-button {
        text-align: left;
        padding: 0;
    }
}