<header>
	<md-toolbar color="primary" class="header-row-1 header-wrapper" role="toolbar">

		    <a md-button *ngIf="sidebarActive" role="button" aria-label="Open sidebar" (click)="menuOpened.emit()">
                <md-icon>menu</md-icon>
            </a>
			<a md-button [routerLink]="backURL" [queryParams]="backQuery"
			   *ngIf="backEnabled" class="back-button" aria-label="Back button" role="button">
				<md-icon >arrow_back</md-icon>
			</a>
		    
			<h1 class="header-title" role="heading">{{title}}</h1>
			<div class="header-controls" *ngIf="showControls" role="group">

                <a *ngIf="searchURL" md-button [routerLink]="searchURL" ngClass="toolbar-button"
                aria-label="Search button" role="button">
                    <md-icon>search</md-icon>
                </a>

                <a md-button *ngIf="settingsURL" [routerLink]="settingsURL" ngClass="toolbar-button"
                aria-label="Settings button" role="button">
                    <md-icon>settings</md-icon>
                </a>

			</div>
	</md-toolbar>
</header>