:host {
    padding-bottom: 2rem;
    header {
        padding: 0 1.2rem;
        position: relative;
        display: flex;
        margin: 0;
        h1 {
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
        }
        .add-mail {
            position: fixed;
            right: 1rem;
            bottom: 1rem;
            z-index: 1;
        }
    }
}