<main class="registered-mails">
    <header>
        <!--<a class="add-mail" md-fab [routerLink]="['/add-mail']">
  			<i class="material-icons">add</i>
		</a>-->
        <div class="add-mail" (click)="expandFAB()" [@fabToggle]="fabState">
            <a md-fab>
  			    <i class="material-icons">add</i>
		    </a>
        </div>

    </header>

    <md-list class="mails-list">
        <md-list-item *ngFor="let mail of mails">
            <app-mail-provider [data]="mail" [backInLineAnimate]="shouldAnimateBack(mail)"></app-mail-provider>
        </md-list-item>
    </md-list>

    <div [@expand]="fabState" (@expand.done)="navigateTo('/add-mail')"></div>
</main>