:host {
    padding-bottom: 2rem;
    header {
        padding: 0 1.2rem;
        position: relative;
        display: flex;
        margin: 0;
        h1 {
            padding: 0;
            margin: 0;
            font-size: 1.3rem;
        }
        .add-mail {
            position: fixed;
            right: 1rem;
            bottom: 1rem;
            z-index: 1;
        }
    }
    /deep/ .mails-list {
        margin-top: 1rem;
        md-grid-tile {
            .mail-provider-icon {
                width: 1.5em;
                margin-right: .5rem;
                padding: 0 .5rem;
            }
            .open-mail {
                float: right;
            }
            .mail-link {
                width: 100%;
                height: 100%;
                text-align: left;
            }
            .mail-badge::after {
                top: -4px;
            }
        }
    }
}