<main class="registered-mails">
    <header>
        <a class="add-mail" md-fab [routerLink]="['/add-mail']" [@fabToggle]>
  			<i class="material-icons">add</i>
		</a>
    </header>

    <md-grid-list [cols]="columns" [rowHeight]="rowHeight" class="mails-list">
        <md-grid-tile *ngFor="let mail of mails" [colspan]="1" [rowspan]="1" [style.background]="tileBackground">
            <app-mail-provider [data]="mail" [transitionState]="'slideBack'"></app-mail-provider>
        </md-grid-tile>
    </md-grid-list>

</main>