<a md-button class="mail-link" (click)="onMailClick()">
  <div class="mdl-list__item-primary-content">
    <img class="mail-provider-icon" [src]="pickIcon(data.type)" [alt]="data.type" [title]="data.type"
         [@logoExpand]="mailLogoState" (@logoExpand.done)="navigateToMailContents()" [@backInLine]="backInLineAnimate"/>
    <span>{{data.displayName}}</span>
    <span class="mdl-badge mail-badge" [attr.data-badge]="data.newMails"></span>
    <md-icon class="arrow-right">chevron_right</md-icon>
  </div>
</a>