:host {
    width: 100%;
    text-align: left;
    .mail-provider-icon {
        width: 1.5em;
        margin-right: .5rem;
        padding: 0 .5rem;
    }
    .open-mail {
        float: right;
    }
    .mail-link {
        width: 100%;
        height: 100%;
        text-align: left;
    }
    .mail-badge::after {
        top: -4px;
    }
}