<article class="add-mail">

    <app-header [title]="headerTitle" [backEnabled]="backEnabled" [backURL]="backURL"></app-header>

    <button md-raised-button color="accent" [@slideToHeader] class="connect-btn">
        <span>Connect</span>
        <md-icon>chevron_right</md-icon>
    </button>

    <div class="app-main-content">

        <form class="add-mail-form">
            <div class="add-mail-row">
                <md-input-container>
                    <input mdInput placeholder="Email" type="email">
                </md-input-container>
            </div>

            <div class="add-mail-row">
                <md-input-container>
                    <input mdInput placeholder="Password" type="password">
                </md-input-container>
            </div>

            <div class="add-mail-row">
                <md-select placeholder="Protocol" [(ngModel)]="selectedProtocol" name="protocol">
                    <md-option *ngFor="let protocol of protocols" [value]="protocol.value">
                        {{protocol.viewValue}}
                    </md-option>
                </md-select>
            </div>

        </form>

    </div>

</article>