/* You can add global styles to this file, and also import other style files */


/* MATERIAL DESIGN COLOR PALETTE  */

// .dark-primary-color {
//     background-color: #388E3C !important;
// }
// .default-primary-color {
//     background-color: #4CAF50 !important;
// }
// .light-primary-color {
//     background: #C8E6C9;
// }
// .text-primary-color {
//     color: #FFFFFF;
// }
// .accent-text-color {
//     color: #FFC107 !important;
// }
// .accent-color {
//     background: #FFC107 !important;
// }
// .primary-text-color {
//     color: #212121;
// }
// .secondary-text-color {
//     color: #757575;
// }
// .divider-color {
//     border-color: #BDBDBD;
// }

/* END MATERIAL DESIGN COLOR PALETTE */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
    font-size: 100%;
}

body {
    height: 100%;
}